.button {
    background-color: #044599;
    padding: 0.25rem 1rem;
    font-size: 1.25rem;
    font-weight: bold;
    color: white;
    border-radius: 0.25rem;
}

.button:hover,
.button:active {
    background-color: white;
    color: #044599;
}

.button:hover {
    cursor: pointer;
}